.body {
  font-family: 'Poppins Medium';
}
.header {
  font-size: 12px;
  padding: 20px;
  color: #7C7C7C;
}
span {
  color: #38ADA9;
  cursor: pointer;
}
.nav {
  display: block;
  overflow: hidden;
  position: absolute;
  left: 35%;
}
ul {
  display: inline;
  margin-top: -50px;
}
.nav a {
  display: inline-block;
  text-decoration: none;
  color: #7C7C7C;
  font-size: 11px;
  margin-right: 16px;
  text-transform: uppercase;
}
.nav a:hover {
  color: #38ADA9;
}
.nav a.active {
  color: #38ADA9;
}
.btn1 {
  text-decoration: none;
  color: white;
  background-color: #38ADA9;
  padding: 10px 20px;
  display: inline-block;
  font-size: 12px;
  border-radius: 22px;
  border: 1px solid #38ADA9;
  cursor: pointer;
}
.btn2 {
  text-decoration: none;
  color: white;
  background-color: #38ADA9;
  display: inline-block;
  padding: 8px 50px;
  border-radius: 1px;
  border: 1px solid #38ADA9;
  cursor: pointer;
  margin-bottom: 50px;
  margin-top: 20px;
}
h1 {
  margin-bottom: 20px;
  padding: 90px;
  color: #38ADA9;
  text-align: center;
}
h3 {
  color: #38ADA9;
  font-size: 14px;
  text-align: center;
  padding: 40px;
}
h4 {
  font-weight:bold;
  color: #5C5C5C;
  font-size: 14px;
  padding-top: 20px;
}
.row {
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 40px;

}
.column {
  text-align: center;
  flex: 100%;
  max-width: 33%;

}
.px a {
  text-decoration: none;
}
.px1 {
  color: #7C7C7C;
  font-size: 14px;
  padding-top: 20px;
  margin-bottom: 40px;
}
.px2 {
  color: #7C7C7C;
  font-size: 16px;
  text-align: center;
}
.px3 {
  color: #7C7C7C;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}
.px4 {
  color: #7C7C7C;
  font-size: 12px;
  padding-top: 20px;
  margin: auto;
}
.nb1 {
  color: #7C7C7C;
  font-size: 12px;
  text-align: center;
}
.fakeimg {
  margin: auto;
  width: 58%;
  border-radius: 50%;
}
.fakeimg1 {
  width: 120px;
  margin-left: 60px;
}
.btn {
  text-decoration: none;
  display: inline-block;
  border-radius: 18px;
  padding: 10px 14px;
  background-color: #38ADA9;
  border: #38ADA9;
  color: white;
  font-size: 14px;
  margin-top: 40px;
}
.ft {
  margin: auto;
  background-color:#FAFAFA;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  width: auto;
  margin-top: 20mm;
}
.demo {
  background-color: #FAFAFA;
  display: block;
  margin: auto;
  font-family: 'Poppins Light';
  font-size: 12px;
  text-align: start;
  list-style-type: none;
  margin-top: 20px;
}
li {
  padding: 3px;
  color: #7C7C7C;
}
li a {
  color: #7C7C7C;
}
.demo a {
  padding: 1px;
  background-color: #FAFAFA;
  text-decoration: none;
  text-align: center;
}
.fa {text-decoration: none;font-size: 20px;margin: 8px;}
.fa-facebook {background: #FAFAFA;color: #38ADA9;}
.fa-twitter {background: #FAFAFA;color: #38ADA9;}
.fa-instagram {background: #FAFAFA;color: #38ADA9;}
.fa-linkedin {background: #FAFAFA;color: #38ADA9;}
.fa-youtube {background: #FAFAFA;color: #38ADA9;}
.pft {
  color: #7C7C7C;
  font-size: 14px;
}
.dropdown {
  display: none;
}
@media (max-width: 900px) {
  .column {
      text-align: center;
      flex: 50%;
      max-width: 50%;
      margin: auto;
  }
  .demo {
      text-align: center;
      flex: 100%;
      font-size: 12px;
  }
}
@media screen and (max-width: 700px) {
  .nav {   
   display: none;
  }
  .column {
   flex: 100%;
   max-width: 100%;
  }
  .dropdown{
      position: absolute;
      display: inline-block;
      font-size: 16px;
      color: white;
      margin-left: 80px;
      margin-top: 10px;
  }
  input[type=checkbox]{
      display: none;
  }
  label{
      box-sizing: border-box;
      border-radius: 14px;
      display: inline-block;
      width: 100%;
      background-color: #38ADA9;
      padding: 10px 50px;
      cursor: pointer;
      text-align: center;
  }
  .list {
      position: relative;
      list-style: none;
      text-align: center;
      width: 100%;
      z-index: 1;
      margin:0;
      padding:0;
      box-shadow: 0px 1px 1px #38ADA9;
      display: none;
  }
  .list li{
      padding: 15px;
      background-color: #fff;
      color: #7C7C7C;
      cursor: pointer;
  }
  .list li a{
      color: inherit;
      text-decoration: none;
  }
  .list li a:hover {
      color: #38ADA9;
  }
  .list li a.active {
      color: #38ADA9;
  }
  input[type=checkbox]:checked ~ label {
      background-color: #38ADA9;
  }
  input[type=checkbox]:checked ~ ul {
      display: block;
  }
  .header {
      text-align: center;
      
  }
}
@media screen and (max-width: 767px){
  #div-global{
      display: list-item !important;

  }
  #content-div1{
      width: 90% !important;
      margin: -12px;
      padding-left: 25px;



  }
  #content-div2{
      width: 90% !important;
      padding-left: 20px;
      list-style: none !important;
  }
  #div-name1{
      display: list-item !important;	
  }
  #div-name1-div1{
      width: 100% !important;

  }
  #div-name1-div2{
      width: 100% !important;
  }
  #name-t{
      width: 99% !important;
  }
  #prenom-t{
      width: 99% !important;
  }
  .div1{
      font-size: 0.7em !important;
      left: 15% !important;
  }

  .button1{
      width: 99% !important;
  }
/*************menu mobile************************/
  #s1{
      display: block;
  }
  #div-btn-img{
      display: block;
  }
}

@media screen and (max-width: 1060px){
  #div-all1{
      display: none;
  }
  #div-all-header{
      display: none;
  }
}


@media screen and (min-width: 1060px){
  #s1{
      display: none !important;
  }
  #div-btn-img{
      display: none !important;
  }
  #divmenu{
      display: none !important;
  }

}


.limenumobil{
padding-top: 1px;
padding-bottom: 1px;

padding-left: 7%;
text-align: left;

}
.limenumobil a p{

font-family: Poppins Regular;
color: #707070;
width: 100%;


}
.limenumobil a:hover p{
background-color: #38ADA9;;
}



a {
text-decoration: none !important;
font-size: 10px !important;
}
/**************fin menu mobile*************/
/*****start part1********/
.part1 {
  display: flex;
  margin-top: 10px;
}
.part1 img{
  width: 100%;
  height: auto;
  margin-left: -5px;
}
.part1 .opac{
  background-color: black;
  position: absolute;
  width: 99.5%;
  margin-left: -9px;
  height: 97.5%;
  opacity: 30%;
}
.part1 .cont{
  display: flex;
  position: absolute;
  margin-top: 10%;
  color: #fff;
  font-family: 'Satisfy';
  font-size: 30px;
  text-align: center;
  margin-left: 27%;
}
.part1 .cont h5{
  display: flex;
  position: absolute;
  margin-top: 150px;
  color: #fff;
  font-family: 'Satisfy';
  font-size: 25px;
  text-align: center;
  margin-left: 17%;
}
.part1 .cont a{
  display: flex;
  position: absolute;
  margin-top: 400px;
  color: #38ADA9;
  font-family: 'Poppins Medium';
  font-size: 15px !important;
  text-align: center;
  margin-left: 40%;
  border-radius: 25px;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  opacity: 70%;
}
@media (max-width:800px){
  .part1 img{
    width: 104%;
    height: 500px;
    margin-left: -9px;
  }
  .part1 .opac{
    background-color: black;
    position: absolute;
    width: 100.5%;
    margin-left: -9px;
    height: 500px;
    opacity: 30%;
  }
  .part1 .cont{
    display: flex;
    position: absolute;
    margin-top: 60px;
    color: #fff;
    font-family: 'Satisfy';
    font-size: 20px;
    text-align: center;
    margin-left: 4%;
  }

  .part1 .cont h5{
    display: flex;
    position: absolute;
    margin-top: 150px;
    color: #fff;
    font-family: 'Satisfy';
    font-size: 20px;
    text-align: center;

  }
  .part1 .cont a{
    display: flex;
    position: absolute;
    margin-top: 320px;
    color: #38ADA9;
    font-family: 'Poppins Medium';
    text-align: center;
    margin-left: 40%;
    border-radius: 25px;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 70%;
  }
}

/*****fin part1*****/
/*****start part2*****/

.content , .content1{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	color: #7C7C7C;
	margin-top: 30px;
}

.content-all , .content-all1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
}

.content-ar{
	width: 300px;
  text-align: center;
}

.content-ar1{
width: 280px;
}

.content-ar , .content-ar1 {
	margin: 10px;
	font-size: 13px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.dot {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat';

}

.content1 img {
	width: 220px;
	height: auto;
}



.content1 {
  background-color: #FAFAFA;
  height: 600px;
}
@media (max-width:700px){
  .content1 {
    background-color: #FAFAFA;
    height: 320mm;
  }
}

.content2 {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
  margin-top: 40px;
}
.content-all2 {
	width: 600px;
	font-size: 13px;
	color: #7C7C7C;
  padding: 30px;
}
.cnt {
	width: 100%;
	height: 150px;
	background-color: #38ADA9;
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
@media screen and (max-width:700px){
  .cnt {
    width: 100%;
    height: 250px;
    background-color: #38ADA9;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  #A {
   font-size: 15px !important;
   margin-top: -13%;
   margin-left: 10px;
  }
  
  .cnt span {
     height: 40px;
     width: 130px;
     background-color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 35px;
     margin-top: -10% !important;
     margin-left: 3% !important;
   }
}


.cnt h1 {
  color: white;
  font-family: 'Poppins Medium';
  font-size: 17px;
  margin-top: -3%;
  margin-left: -15%;
}

.cnt span {
 	height: 40px;
 	width: 130px;
 	background-color: white;
 	display: flex;
 	align-items: center;
 	justify-content: center;
   border-radius: 35px;
   margin-top: -2%;
   margin-left: -15%;
 }

 .cnt span a {
   color: #38ADA9;
   font-family: 'Poppins Light';
   font-size: 15px;
 }

	 .content3 {
 	width: 100%;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	background-color: #FAFAFA;
 	flex-wrap: wrap;
  margin-top: 12%;
  height: 600px;
 }

 .content3 img {
 	height: auto;
 	width: 150px;
  border-radius: 50%;
  margin-top: -5%;
 }

 .content3 p {
 	width: 50%;
 	text-align: center;
  font-family: 'Poppins Light';
  color: #7C7C7C;
  font-size: 80%;
  margin-top: 5%;
 }


.prj {
	margin-top: 50px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.projets {
  position: relative;
}

.ov {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 230px;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color: #38ADA9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projets:hover .ov {
  opacity: 0.7;
}
 
.text {
	color: white;

}

#bl {
  margin-top: 50px;
  font-family: 'Poppins Light';
  font-size: 30px;
}

.blog {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.blog-ar {
	display: flex;
	flex-direction: column;
	width: 300px;
	font-size: 13px;
	color: #7C7C7C;
	padding: 20px;
}

.blog .blog-ar a {
  text-decoration: none;
  font-family: 'Poppins Light';
  color: #38ADA9;
}
.blog .blog-ar h4{
  font-family: 'Poppins Light';
  color: #7C7C7C;
  font-size: 10px;
  margin-top: -5%;
}
.blog .blog-ar p{
  font-family: 'Poppins Light';
  color: #7C7C7C;

}













