* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}


#mu-slider {
  margin-top: -270mm;
  display: flex;
  float: left;
  width: 100%;
}
#mu-slider .mu-slider-single {
  display: flex;
  float: left;
  width: 100%;
  position: relative;
}
#mu-slider .mu-slider-single .mu-slider-img {
  display: flex;
  width: 100%;
  height: 600px;
}
#mu-slider .mu-slider-single .mu-slider-img:after {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 70%;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#mu-slider .mu-slider-single .mu-slider-img figure {
  height: 100%;
  width: 100%;
}
#mu-slider .mu-slider-single .mu-slider-img figure img {
  width: 100%;
  height: 100%;
}
#mu-slider .mu-slider-single .mu-slider-content {
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  padding: 0 15%;
  width: 100%;
  text-align: center;
  height: 100%;
}
@media (max-width: 720px){
  #mu-slider .mu-slider-single .mu-slider-content h2{
    font-size: 10px;
    line-height: 40px;
  }
}
#mu-slider .mu-slider-single .mu-slider-content h2 {
  font-size: 50px;
  line-height: 80px;
  margin-bottom: 10px;
  font-family: 'Satisfy';
}
#mu-slider .mu-slider-single .mu-slider-content p {
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 28px;
  font-family: 'Satisfy';
}
#mu-slider .mu-slider-single .mu-slider-content a {
  margin-top: 80px;
  width: 200px;
  height: 50px;
  text-align: center;
  padding-left: 45px;
  padding-top: 11px;
  opacity: 70%;
  margin-left: 350px;
}
.title{
  margin-top: -100mm;
  display: flex;
  position: absolute;
  text-align: center;
  font-family: 'Satisfy';
  color: #38ADA9;
  margin-left: 540px;
  font-size: 30px;
}
.imgg{
  margin-top: -85mm;
  position: absolute;
}
.aa1 .bb1 {
  margin-top: -80mm;
  position: absolute;
  text-align: center;
  margin-left: 175px;
}
.aa1 .bb2{
  margin-top: -80mm;
  position: absolute;
  text-align: center;
  margin-left: 500px;
}
.aa1 .bb3{
  margin-top: -80mm;
  position: absolute;
  text-align: center;
  margin-left: 840px;
}

#Pm{
  background-color: #FAFAFA;
}
#Pm .Se{
  margin-top: 1150px;
  text-align: center;
}
#Pm .Se h1{
  color: #38ADA9;
  font-family: 'Satisfy';
  padding-top: 50px;
  font-size: 30px;
}
#Pm .Se a{
  color: #7c7c7c;
  font-family: 'Poppins light';
  font-size: 10px;
}
.bb{
  margin-top: 20px;
  padding-left: 170px;
}
.bb a{
  font-family: 'Poppins Medium';
  font-size: 17px;
  color: #38ADA9;
}
.vv{
  margin-top:  130px;
  margin-left: 560px;
  padding-bottom: 50px;
}
.vv a{
  text-decoration: none;
  font-family: 'Satisfy';
  font-size: 17px;
  color: white;
  border: 1px solid #38ADA9;
  border-radius: 25px;
  background-color: #38ADA9;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mu-about-us-right {
  margin-top: 110px;
  margin-left: 650px;
  display: inline;
  float: left;
  display: block;
}
.fuu {
  margin-right: 700px;
  position: absolute;
  margin-top: 80px;
  margin-left: 20px;
}
.fuu h2{
  padding-left: 20px;
  font-family: 'Satisfy';
  font-size: 30px;
  color: #38ADA9;
}
.fuu a{
  font-family: 'Poppins light';
  font-size: 12px;
  color: #7c7c7c;

}
.vcn {
  position: absolute;
  margin-left: 30px;
  margin-top: 220px;
}
.vcn img{
  width: 70px;
  height: 70px;
}
.vcn h6{
  margin-left: 95px;
  margin-top: -60px;
  font-family: 'Poppins Medium';
  font-size: 13px;
  color: #38ADA9;
}
.vcn a{
  font-family: 'Poppins light';
  font-size: 11px;
  color: #7c7c7c;
  margin-left: 95px;
}
.vcm {
  position: absolute;
  margin-left: 30px;
  margin-top: 300px;
}
.vcm img{
  width: 70px;
  height: 70px;
}
.vcm h6{
  margin-left: 95px;
  margin-top: -60px;
  font-family: 'Poppins Medium';
  font-size: 13px;
  color: #38ADA9;
}
.vcm a{
  font-family: 'Poppins light';
  font-size: 11px;
  color: #7c7c7c;
  margin-left: 95px;
}
.vco {
  position: absolute;
  margin-left: 30px;
  margin-top: 380px;
}
.vco img{
  width: 70px;
  height: 70px;
}
.vco h6{
  margin-left: 95px;
  margin-top: -60px;
  font-family: 'Poppins Medium';
  font-size: 13px;
  color: #38ADA9;
}
.vco a{
  font-family: 'Poppins light';
  font-size: 11px;
  color: #7c7c7c;
  margin-left: 95px;
}
.vco .xw{
  position: absolute;
  text-decoration: none;
  margin-top: 90px;
  margin-left: -450px;
  border: 1px solid #38ADA9;
  border-radius: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #38ADA9;
  font-family: 'Satisfy';
  color: white;
  font-size: 14px;
}
.aqw {
  position: absolute;
  background-color: #38ADA9;
  padding-left: 200px;
  padding-top: 70px;
  padding-bottom: 90px;
  margin-top: 700px;
  border: 1px solid #38ADA9;
  width: 100%;
  height: 60px;
  font-family: 'Poppins Light';
  font-size: 15px;
  color: white;

}
.dfg {
  background-color: white;
  position: absolute;
  margin-left: 80px;
  border: 1px solid white;
  border-radius: 20px;
  color: #38ADA9;
  font-family: 'Satisfy';
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: -12px;
  text-decoration: none;
}
.pml{
  position: absolute;
  margin-top: 900px;
  margin-left: 500px;
}
.pml h3{
  font-family: 'Satisfy';
  font-size: 25px;
  color: #38ADA9;
}
.pml img{
  border: 1px solid white;
  border-radius: 100%;
  width: 170px;
  height: 170px;
  margin-top: 80px;
  margin-left: -230px;
}
.pml h5{
  font-family: 'Poppins Medium';
  font-size: 15px;
  color: #38ADA9;
}
.pml a{
  font-family: 'Poppins Medium';
  font-size: 13px;
  color: #7c7c7c;
}
.icon {
  position: absolute;
  margin-top: 1260px;
  margin-left: 318px;
}
.ico {
  position: absolute;
  margin-top: 1260px;
  margin-left: 595px;
}
.ic {
  position: absolute;
  margin-top: 1260px;
  margin-left: 867px;
}
#avis{
  background-color: #FAFAFA;
  position: absolute;
  width: 100%;
  height: 125mm;
  margin-top: 1350px;
}
#avis h3{
  margin-left: 48%;
  margin-top: 60px;
  font-family: 'Satisfy';
  font-size: 30px;
  color: #38ADA9;
}
#avis h4{
  padding-left: 153mm;
  margin-top: 2mm;
  font-family: 'Poppins Medium';
  color: #38ADA9;
  font-size: 15px;
}
#avis h5{
  padding-left: 162.5mm;
  font-family: 'Poppins light';
  color: #7c7c7c;
  font-size: 13px;
}
#avis p{
  text-align: center;
  margin-top: 8mm;
  font-family: 'Poppins light';
  font-size: 11px;
}
.proj h2{
  position: absolute;
  margin-top: 510mm;
  margin-left: 45.5%;
  font-family: 'Satisfy';
  font-size: 30px;
  color: #38ADA9;
}
.wx{
  display: flex;
  justify-content: center;
  margin-top: 550mm;
  position: absolute;
  width: 100%;
}
.wxc{
  margin-left: -8px;
}
.wxc img{
  width: 317px;
  height: 250px;
}
.wxn img{
  width: 317px;
  height: 250px;
}
.wxv img{
  width: 317px;
  height: 250px;
}
.wxb img{
  width: 317px;
  height: 250px;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 550mm;
  position: absolute;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.container .ep {
  position: relative;
  margin-left: -8px;
}

.container .ep .info .discription {
  visibility: hidden;
  position: absolute;
  background-color: #38ADA9;
  width: 317px;
  height: 250px;
  bottom: 0;
  margin-bottom: 3px;
  transition: 0.01s;
  -webkit-transition: 0.01s;
  opacity: 0;
  color: white;
  font-family: 'Poppins Medium';
  font-size: 15px;
  text-align: center;
  padding-top: 32mm;
  
}

.container .ep img {
  width: 317px;
  height: 250px;
}

.container .ep:hover .info .discription {
  visibility: visible;
  opacity: 60%;
}
.blog{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 45%;
  margin-top: 645mm;
}
.blog h5{
  display: flex;
  font-family: 'Satisfy';
  font-size: 25px;
  color: #38ADA9;
}
.blog .blogim{
  display: flex;
  justify-content: center;
  position: absolute;
  flex-wrap: wrap;
  margin-top: 30mm;
  margin-left: 68mm;
}
.blog .blogim img{
  display: flex;
  width: 340px;
  height: 240px;
  border-radius: 10px;

}
.blog .blogim .blogha{
  display: flex;
  margin-top: 65mm;
}
.blog .blogim .blogha h6{
  position: absolute;
  display: flex;
  font-family: 'Poppins Light';
  color: #7c7c7c;
  margin-left: -205mm;
}
.blog .blogim .blogha h4{
  text-align: left;
  position: absolute;
  display: flex;
  margin-top: 7mm;
  font-family: 'Poppins Medium';
  font-size: 13.5px;
  color: #38ADA9;
  margin-left: -205mm;
}
.blog .blogim .blogha a{
  text-align: left;
  position: absolute;
  display: flex;
  font-family: 'Poppins Light';
  font-size: 12px;
  color: #7c7c7c;
  margin-top: 15mm;
  margin-left: -205mm;
}
.blog .blogim .blogha2{
  display: flex;
  margin-top: 65mm;
}
.blog .blogim .blogha2 h6{
  text-align: left;
  position: absolute;
  display: flex;
  font-family: 'Poppins Light';
  color: #7c7c7c;
  margin-left: -97mm;
}
.blog .blogim .blogha2 h4{
  text-align: left;
  position: absolute;
  display: flex;
  margin-top: 7mm;
  font-family: 'Poppins Medium';
  font-size: 13.5px;
  color: #38ADA9;
  margin-left: -97mm;
}
.blog .blogim .blogha2 a{
  text-align: left;
  position: absolute;
  display: flex;
  font-family: 'Poppins Light';
  font-size: 12px;
  color: #7c7c7c;
  margin-top: 20mm;
  margin-left: -97mm;
}
.blog .blogim .blogha3{
  display: flex;
  margin-top: 65mm;
}
.blog .blogim .blogha3 h6{
  text-align: left;
  position: absolute;
  display: flex;
  font-family: 'Poppins Light';
  color: #7c7c7c;
  margin-left: -90mm;
}
.blog .blogim .blogha3 h4{
  text-align: left;
  position: absolute;
  display: flex;
  margin-top: 7mm;
  font-family: 'Poppins Medium';
  font-size: 13.5px;
  color: #38ADA9;
  margin-left: -90mm;
}
.blog .blogim .blogha3 a{
  text-align: left;
  position: absolute;
  display: flex;
  font-family: 'Poppins Light';
  font-size: 12px;
  color: #7c7c7c;
  margin-top: 20mm;
  margin-left: -90mm;
}












